aiohappyeyeballs
aiohttp
aiosignal
altair
annotated-types
anyio
async-timeout
attrs
blinker
cachetools
certifi
cffi
charset-normalizer
click
cohere
colorama
colorlog
cryptography
dataclasses-json
distro
exceptiongroup
flask
flask-cors
werkzeug
langchain
faiss-cpu
sentence-transformers
huggingface-hub
transformers
python-dotenv
pymupdf
uuid
idna
Jinja2
jiter
joblib
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
langchain-community
langchain-core
langchain-experimental
langchain-text-splitters
langsmith
markdown-it-py
MarkupSafe
marshmallow
mdurl
mpmath
multidict
mypy-extensions
narwhals
networkx
numpy
ollama
open_text_embeddings
openai
orjson
packaging
pandas
pdfminer.six
pdfplumber
pillow
prompt-template
propcache
protobuf
pyarrow
pycparser
pydantic
pydantic-settings
pydantic_core
pydeck
Pygments
pypdfium2
python-dateutil
pytz
PyYAML
referencing
regex
requests
requests-mock
requests-toolbelt
rich
rpds-py
safetensors
scikit-learn
scipy
semantic-chunkers
semantic-router
six
smmap
sniffio
SQLAlchemy
streamlit
sympy
tenacity
threadpoolctl
tiktoken
tokenizers
toml
torch
tornado
tqdm
types-requests
typing-inspect
typing_extensions
tzdata
urllib3
watchdog
yarl
zstandard
